{% extends 'main.html' %}
{% block events %}

<style>

form {
  text-align: center;
}
</style>
<form action="/clients/addclient/" method="post">
    {% csrf_token %}
    <b>Название:</b>
    <br>
    {{ form.company }}
    <br>
    <b>Услуга:</b>
    <br>
    {{ form.service }}
    <br>
    <b>Дата истечения:</b>
    <br>
    {{ form.date_of_exp }}
    <br>
    <b>Количество:</b>
    <br>
    {{ form.qty }}
    <br>
 <b>Цена:</b>
 <br>
 {{ form.price }}
 <br>
 <input type="submit" value="Submit" />
</form>

<link href = "https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css"
         rel = "stylesheet">
<link href = "https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css"
         rel = "stylesheet">
<script src="http://code.jquery.com/jquery-3.3.1.js"></script>
<script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
  integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
  crossorigin="anonymous"></script>
<script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "2012:2045",
      dateFormat: 'yy-mm-dd'
      // You can put more options here.
    });
  });
  </script>
{% endblock %}
