{% block events %}
    {% csrf_token %}
{% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}" />
  <body>
    <table id = "customers" class="editableTable">
    {% for client in allClients %}
  <tr my_id={{client.id}}>
    <td>{{ client.company }}</td> <td>{{client.service}}</td>

    <td><div class="date" my_id={{client.id}}> {{client.date_of_exp}} </div> </td>
    <td> <input type="checkbox" id="scales" class="cb"
               value="scales" my_id={{client.id}} /> </td>
    <td><a href="/clients/edit/{{client.id }}/"> Изменить </td>
  </body>
   <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
    var dateString = '{{client.date_of_exp}}'
    var my_date = Date.parse(dateString)
    var nowdate = Date.now()
    var diff = my_date - nowdate;
    var days = diff / 1000 / 60 / 60 / 24;
    if (days>30) {
      $(".cb[my_id={{client.id}}]").prop('checked', true);
    } else if (days<30 && days>0) {
      $("tr[my_id={{client.id}}]").css({ 'color' : '#a88d1f'});
    } else if (days <0){
      $("tr[my_id={{client.id}}]").css({ 'color' : 'red'});
    }

    </script>
  </tr>
    {% endfor %}
    </table>
{% endblock %}

    <script>

      $(".cb").click(function () {
        var my_id = $(this).attr('my_id');
        if($(".cb[my_id="+my_id+"]").prop('checked')) {
          var my_url = '/clients/extend/'
        } else {
          my_url = '/clients/shorten/'
        }
        $.ajax({
          url: my_url,
          data: {
            'my_id': my_id
          },
          dataType: 'json',
          success: function (data) {
            if (data.date) {
                $("div.date[my_id="+my_id+"]").text(data.date);
            }
          }
        });
      });
    </script>
<script>


  </script>
