{% extends 'main.html' %}

{% block events %}
    {% csrf_token %}
{% load staticfiles %}

  <style>
  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;

}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.editableTable {
  border:solid 1px; width:100%
  }
.editableTable td { border:solid 1px; }

.editableTable .cellEditing { padding: 0; }

.editableTable .cellEditing input[type=text]{
  width:100%; border:0; background-color:rgb(255,253,210);
}

.brd {
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
  align:center;
  text-align:center;
}


</style>
  <body>
    <table id = "customers" class="editableTable">
    {% for client in allClients %}
  <tr my_id={{client.id}}>
     <td>{{client.company_name}}</td>

    <td><div  my_id={{client.id}}> {{client.email}} </div> </td>
    <td><div  my_id={{client.id}}> {{client.phone}} </div> </td>
    <td><a href="/clients/editCompany/{{client.id }}/"> Изменить </td>
    <td><a href="/clients/delCompany/{{client.id }}/"> Удалить </td>
  </body>
   <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
    var dateString = '{{client.date_of_exp}}'
    var my_date = Date.parse(dateString)
    var nowdate = Date.now()
    var diff = my_date - nowdate;
    var days = diff / 1000 / 60 / 60 / 24;
    if (days>30) {
      $(".cb[my_id={{client.id}}]").prop('checked', true);
    } else if (days<30 && days>0) {
      $("tr[my_id={{client.id}}]").css({ 'color' : '#a88d1f'});
    } else if (days <0){
      $("tr[my_id={{client.id}}]").css({ 'color' : 'red'});
    }

    </script>
  </tr>
    {% endfor %}
    </table>
{% endblock %}

    <script>

      $(".cb").click(function () {
        var my_id = $(this).attr('my_id');
        if($(".cb[my_id="+my_id+"]").prop('checked')) {
          var my_url = '/clients/extend/'
        } else {
          my_url = '/clients/shorten/'
        }
        $.ajax({
          url: my_url,
          data: {
            'my_id': my_id
          },
          dataType: 'json',
          success: function (data) {
            if (data.date) {
                $("div.date[my_id="+my_id+"]").text(data.date);
            }
          }
        });
      });
    </script>
<script>


  </script>
