{% extends 'main.html' %}
{% load staticfiles %}
{% block events %}
<style>

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;

}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.editableTable {
  border:solid 1px; width:100%
  }
.editableTable td { border:solid 1px; }

.editableTable .cellEditing { padding: 0; }

.editableTable .cellEditing input[type=text]{
  width:100%; border:0; background-color:rgb(255,253,210);
}

.brd {
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
  align:center;
  text-align:center;
}

</style>
<form action="/clients/editCompany/{{ id }}/" method="post">
    {% csrf_token %}
    <div class='brd'>
    <b>Название:</b>
    <br>
    {{ form.company_name }}
    </div>
    <div class='brd'>
    <b>Почта:</b>
    <br>
    {{ form.email }}
    </div>
    <div class='brd'>
    <b>Телефон:</b>
    <br>
    {{ form.phone }}
    </div>
    <div class='brd'>
    <br>
    <input type="submit" value="Подтвердить" />
    </div>
  </div>
</form>
{% endblock %}
<link href = "https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css"
         rel = "stylesheet">
<link href = "https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css"
         rel = "stylesheet">
<script src="http://code.jquery.com/jquery-3.3.1.js"></script>
<script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
  integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
  crossorigin="anonymous"></script>
