{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '/menu.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://kryogenix.org/code/browser/sorttable/sorttable.js"></script>
</head>

<div id="menu">
    <ul>
        <li><a href="/clients/showAll/">Показать всех клиентов</a></li>
        <li><a href="/admin/clients/">Добавить</a></li>
         <br>
    </ul>
</div>
